<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h2>Validate Student Information</h2></div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-body">
                <div class="bs-callout bs-callout-warning" id="callout-images-ie-svg">
                    
                    <p>Provide your Social Insurance Number (SIN) to gain access to the Student Finance System.</p>

                </div>
                <div class="bs-callout bs-callout-warning" id="callout-images-ie-svg">
                    
                    <p>Your identity will be verified through Employment and Social Development Canada before a student loan application is processed.</p>

                </div>
                <p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sin" class="col-sm-3 control-label">SIN</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control" id="sin" placeholder="Social Insurance Number">
                            </div>
                        </div>
                    </form>
                    <div class="text-right">
                    <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>