<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>

<ul>
    <li *ngFor="let item of values | async">{{item}}</li>
</ul>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme()"> Click Me </button>
<button class="btn btn-primary btn-sm" dyn (click)="clickme2()"> Click Me </button>

<span spinner></span>