<table class="table">
    <thead>
        <tr>
            <td sort="userId">ID</td>
            <td sort="firstName">First Name</td>
            <td sort="lastName">Last Name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | sort | slice:0:300">
            <td>{{ user.userId }}</td> 
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                                <!--<button userDlg title="Edit User" (onOk)="onEdit($event)" class="dropdown-item" [user]="user">Edit</button>-->
                                <button class="dropdown-item" (click)="onDelete(user)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>