<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 class="title">Inbox</h2>
        <hr />

        <div class="bs-callout bs-callout-warning" id="callout-dropdown-positioning">
            <h4><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> 
                MSFAA Action Required    
            </h4>
            <p>Download and print your MSFAA to avoid delays in your funding.</p>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Student Information</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-2">
                            <p class="form-control-static">Smith, John</p>
                        </div>
                        <label class="col-sm-1 control-label">Birthdate</label>
                        <div class="col-sm-2">
                            <p class="form-control-static">19-Jan, 1991</p>
                        </div>
                        <label class="col-sm-1 control-label">ASN</label>
                        <div class="col-sm-2">
                            <p class="form-control-static">1085-4334-1</p>
                        </div>
                        <label class="col-sm-1 control-label">SIN</label>
                        <div class="col-sm-2">
                            <p class="form-control-static">123-456-789</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <letters></letters>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <button routerLink="/home" class="btn btn-md btn-primary">Return to Welcome Screen</button>
    </div>
    <div class="col-sm-2">
    </div>
</div>
